Repository teamwire/platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Ensure ansible-lint docker image exists, Ensure golint docker image exists, Ensure shellcheck has correct version, Single server test, Cluster server test, Procedure test, Roles dir test, Packer Build vmware test, Packer network fix script test, Packer shrink test, Packer offline image test, Packer unique test, Packer guest tools test, OCSP wrapper test, Backup / Restore test, Offline installation test, TWCTL test, OcspResonder test, Archiving test

Path conditions:
  Ensure ansible-lint docker image exists: any of: ansible/*
  Ensure golint docker image exists: any of: ansible/roles/go/files/ocspResponder.go, ansible/roles/go/files/archiving.go
  Ensure shellcheck has correct version: any of: packer/build-vmware.sh, packer/scripts/fix-network.sh, packer/scripts/shrink-image.sh, prepare-offline-installation.sh, packer/scripts/make-unique.sh, packer/scripts/vm-guest-tools.sh, ansible/roles/frontend/files/ocsp.sh, ansible/roles/db/files/backup_restore_db.sh, packer/scripts/prepare-offline-installation.sh, ansible/roles/management/files/twctl
  Single server test: any of: ansible/*
  Cluster server test: any of: ansible/*
  Procedure test: any of: ansible/*
  Roles dir test: any of: ansible/*
  Packer Build vmware test: any of: packer/build-vmware.sh
  Packer network fix script test: any of: packer/scripts/fix-network.sh
  Packer shrink test: any of: packer/scripts/shrink-image.sh
  Packer offline image test: any of: prepare-offline-installation.sh
  Packer unique test: any of: packer/scripts/make-unique.sh
  Packer guest tools test: any of: packer/scripts/vm-guest-tools.sh
  OCSP wrapper test: any of: ansible/roles/frontend/files/ocsp.sh
  Backup / Restore test: any of: ansible/roles/db/files/backup_restore_db.sh
  Offline installation test: any of: packer/scripts/prepare-offline-installation.sh
  TWCTL test: any of: ansible/roles/management/files/twctl
  OcspResonder test: any of: ansible/roles/go/files/ocspResponder.go
  Archiving test: any of: ansible/roles/go/files/archiving.go

Update ansible-changes job template to trigger on subdirectories too
  .gitlab-ci.yml
Due: none

Fix jinja spacing in backend single tasks
  ansible/roles/backend/tasks/single.yml
Due: none

Add new line at end of the file for storage glusterfs and housekeeping of mysql users
  ansible/roles/housekeeping/tasks/clean_mysql_users.yml
  ansible/roles/storage/tasks/glusterfs.yml
Due: none

Fix shellcheck errors in ansible/roles/frontend/files/ocsp.sh
  ansible/roles/frontend/files/ocsp.sh
Due: Ensure shellcheck has correct version, OCSP wrapper test

Fix shellcheck errors in ansible/roles/management/files/motd.sh
  ansible/roles/management/files/motd.sh
Due: none

Replace tabs and fix shellcheck errors in packer/build-vmware.sh
  packer/build-vmware.sh
Due: Ensure shellcheck has correct version, Packer Build vmware test

Remove unused variable JITSI_VERSION for offline image
  packer/scripts/prepare-offline-installation.sh
Due: Ensure shellcheck has correct version, Offline installation test

Fix shellcheck errors for packer/scripts/prepare-offline-installation
  packer/scripts/prepare-offline-installation.sh
Due: Ensure shellcheck has correct version, Offline installation test

Replace tabs and fix shellcheck errors in packer/scripts/shrink-image.sh
  packer/scripts/shrink-image.sh
Due: Ensure shellcheck has correct version, Packer shrink test

Replace tabs and fix shellcheck errors in packer/scripts/vm-guest-tools.sh
  packer/scripts/vm-guest-tools.sh
Due: Ensure shellcheck has correct version, Packer guest tools test

Fix shellcheck errors for backup_restore_db.sh
  ansible/roles/db/files/backup_restore_db.sh
Due: Ensure shellcheck has correct version, Backup / Restore test

Replace tabs with whitespaces twctl
  ansible/roles/management/files/twctl
Due: Ensure shellcheck has correct version, TWCTL test

Replace tabs with whitespaces within ansible/roles/db/files/backup_restore_db.sh
  ansible/roles/db/files/backup_restore_db.sh
Due: Ensure shellcheck has correct version, Backup / Restore test

Replace ls with find for backup_restore_db.sh
  ansible/roles/db/files/backup_restore_db.sh
Due: Ensure shellcheck has correct version, Backup / Restore test

Gather jvb_users over find instead of ls
  ansible/roles/management/files/twctl
Due: Ensure shellcheck has correct version, TWCTL test

Fix shellcheck error for ansible/roles/management/files/twctl
  ansible/roles/management/files/twctl
Due: Ensure shellcheck has correct version, TWCTL test

Rework vault secret gathering for twctl to use arrays not strings
  ansible/roles/management/files/twctl
Due: Ensure shellcheck has correct version, TWCTL test

Rework image variables for twctl to use arrays not strings
  ansible/roles/management/files/twctl
Due: Ensure shellcheck has correct version, TWCTL test

Remove wrong script path
  .gitlab-ci.yml
Due: none

Add additional haproxy template
  ansible/roles/frontend/templates/frontend_multi_haproxy.cfg.j2
Due: none

Ensure monitoring user is available in the database
  ansible/roles/housekeeping/tasks/clean_mysql_users.yml
  ansible/roles/monitoring/tasks/master.yml
Due: none

Add comments to the gitlab-ci pipeline
  .gitlab-ci.yml
Due: none

Rework database role to sort servers in alphabetic order
  ansible/roles/db/templates/cluster.conf.j2
Due: none

Rework backend role to sort servers in alphabetic order
  ansible/roles/backend/tasks/add_additional_host.yml
  ansible/roles/backend/tasks/configuration.yml
  ansible/roles/backend/tasks/main.yml
  ansible/roles/backend/templates/cluster.conf.j2
  ansible/roles/backend/templates/galera_haproxy.cfg.j2
Due: none

Rework load_balancers role to sort servers in alphabetic order
  ansible/roles/load_balancer/templates/keepalived.conf.j2
Due: none

Rework consul role to sort servers in alphabetic order
  ansible/roles/consul/templates/20-agent.json.j2
Due: none

Rework storage_client role to sort servers in alphabetic order
  ansible/roles/storage_client/tasks/main.yml
Due: none

Rework storage role to sort servers in alphabetic order
  ansible/roles/storage/tasks/glusterfs.yml
Due: none

Rework monitoring role to sort servers in alphabetic order
  ansible/roles/monitoring/tasks/client.yml
  ansible/roles/monitoring/tasks/database-configuration.yml
  ansible/roles/monitoring/templates/zones.conf.j2
Due: none

Rework redis role to sort servers in alphabetic order
  ansible/roles/redis/tasks/cluster.yml
  ansible/roles/redis/templates/sentinel.conf.j2
Due: none

Rework vault role to sort servers in alphabetic order
  ansible/roles/vault/tasks/bootstrap.yml
  ansible/roles/vault/tasks/container-connection.yml
Due: none

Rework nomad role to sort servers in alphabetic order
  ansible/roles/nomad/tasks/job.yml
  ansible/roles/nomad/tasks/vault-integration.yml
Due: none

Rework galera-bootstrap to sort servers in alphabetic order
  ansible/playbooks/procedures/galera-bootstrap.yml
Due: none

Rework voip role to sort servers in alphabetic order
  ansible/roles/voip/tasks/main.yml
Due: none

Move deployment of registry container into the task
  ansible/roles/docker/handlers/main.yml
  ansible/roles/docker/tasks/registry.yml
Due: none

Add credentials for local docker registry container
  ansible/roles/docker/defaults/main.yml
  ansible/roles/docker/handlers/main.yml
  ansible/roles/docker/tasks/main.yml
  ansible/roles/docker/tasks/registry.yml
  ansible/roles/nomad/defaults/main.yml
  ansible/roles/nomad/templates/teamwire.nomad.j2
  ansible/roles/vault/defaults/main.yml
  ansible/roles/vault/tasks/bootstrap.yml
  ansible/roles/voip/defaults/main.yml
  ansible/roles/voip/templates/voip.hcl.tmpl
Due: none

Add credentials to the nomad turn container configuration
  ansible/roles/voip/templates/voip.hcl.tmpl
Due: none

Restrict task to fetch storage servers into an ansible fact
  ansible/roles/storage_client/tasks/main.yml
Due: none

Fetch docker version information from repo.teamwire.eu
  ansible/roles/docker/defaults/main.yml
  ansible/roles/docker/tasks/main.yml
Due: none

Fetch icinga versions and check_ntp information from repo.teamwire.eu
  ansible/roles/monitoring/defaults/main.yml
  ansible/roles/monitoring/files/tw_monitoring_pinning
  ansible/roles/monitoring/tasks/main.yml
  ansible/roles/monitoring/templates/tw_monitoring_pinning.j2
  ansible/roles/monitoring/vars/main.yml
  packer/scripts/prepare-offline-installation.sh
Due: Ensure shellcheck has correct version, Offline installation test
