Repository teamwire/platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Ensure ansible-lint docker image exists, Ensure golint docker image exists, Ensure shellcheck has correct version, Single server test, Cluster server test, Procedure test, Roles dir test, Packer Build vmware test, Packer network fix script test, Packer shrink test, Packer offline image test, Packer unique test, Packer guest tools test, OCSP wrapper test, Backup / Restore test, Offline installation test, TWCTL test, Login banner test, OcspResonder test, Archiving test

Ensure ansible-lint docker image exists:
  stage: startup
  script: docker pull $ANSIBLE_LINT_IMAGE

Ensure golint docker image exists:
  stage: startup
  script: docker pull $GOLINT_IMAGE

Ensure shellcheck has correct version:
  stage: startup
  script: dpkg -l | grep "ii  shellcheck" | grep $SHELLCHECK_VERSION

Single server test:
  stage: ansible-lint
  script: /bin/bash -c "$ANSIBLE_LINT_CMD ansible/site.yml -x 301 --force-color"
  needs:
  - Ensure ansible-lint docker image exists

Cluster server test:
  stage: ansible-lint
  script: /bin/bash -c "$ANSIBLE_LINT_CMD ansible/playbooks/cluster.yml -x 301 --force-color"
  needs:
  - Ensure ansible-lint docker image exists

Procedure test:
  stage: ansible-lint
  script: /bin/bash -c "$ANSIBLE_LINT_CMD ansible/playbooks/procedures/*.yml -x 301 --force-color"
  needs:
  - Ensure ansible-lint docker image exists

Roles dir test:
  stage: ansible-lint
  script: /bin/bash -c "$ANSIBLE_LINT_CMD ansible/playbooks/roles/*.yml -x 301 --force-color"
  needs:
  - Ensure ansible-lint docker image exists

Packer Build vmware test:
  stage: shellcheck
  script: shellcheck --format=tty --color=always packer/build-vmware.sh
  needs:
  - Ensure shellcheck has correct version

Packer network fix script test:
  stage: shellcheck
  script: shellcheck --format=tty --color=always packer/scripts/fix-network.sh
  needs:
  - Ensure shellcheck has correct version

Packer shrink test:
  stage: shellcheck
  script: shellcheck --format=tty --color=always packer/scripts/shrink-image.sh
  needs:
  - Ensure shellcheck has correct version

Packer offline image test:
  stage: shellcheck
  script: shellcheck --format=tty --color=always prepare-offline-installation.sh
  needs:
  - Ensure shellcheck has correct version

Packer unique test:
  stage: shellcheck
  script: shellcheck --format=tty --color=always packer/scripts/make-unique.sh
  needs:
  - Ensure shellcheck has correct version

Packer guest tools test:
  stage: shellcheck
  script: shellcheck --format=tty --color=always packer/scripts/vm-guest-tools.sh
  needs:
  - Ensure shellcheck has correct version

OCSP wrapper test:
  stage: shellcheck
  script: shellcheck --format=tty --color=always ansible/roles/frontend/files/ocsp.sh
  needs:
  - Ensure shellcheck has correct version

Backup / Restore test:
  stage: shellcheck
  script: shellcheck --format=tty --color=always ansible/roles/db/files/backup_restore_db.sh
  needs:
  - Ensure shellcheck has correct version

Offline installation test:
  stage: shellcheck
  script: shellcheck --format=tty --color=always packer/scripts/prepare-offline-installation.sh
  needs:
  - Ensure shellcheck has correct version

TWCTL test:
  stage: shellcheck
  script: shellcheck --format=tty --color=always ansible/roles/management/files/twctl
  needs:
  - Ensure shellcheck has correct version

Login banner test:
  stage: shellcheck
  script: shellcheck --format=tty --color=always ansible/roles/management/files/motd.sh
  needs:
  - Ensure shellcheck has correct version

Remove icinga version pinning within offline installation to use tw_monitoring_pinning values
  packer/scripts/prepare-offline-installation.sh
Due: Ensure shellcheck has correct version, Offline installation test

Upgrade offline image to Debian 12.5
  packer/teamwire-server.json
Due: none

Change order of steps to create an offline image
  packer/scripts/prepare-offline-installation.sh
Due: Ensure shellcheck has correct version, Offline installation test

Move /var/cache/downloads creation before ansible to ensure docker package list download is working
  packer/scripts/prepare-offline-installation.sh
  packer/teamwire-server.json
Due: Ensure shellcheck has correct version, Offline installation test

Fix docker-registry restart behaviour
  ansible/roles/docker/handlers/main.yml
  ansible/roles/docker/tasks/registry.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Change become_user to become to not break cloud
  ansible/roles/docker/tasks/main.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Add splitlines() to Install docker packages to iterate over all lines in the dokcer package list file
  ansible/roles/docker/tasks/main.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Add function to change into the platform directory if necessary
  ansible/roles/management/files/twctl
Due: Ensure ansible-lint docker image exists, Ensure shellcheck has correct version, Single server test, Cluster server test, Procedure test, Roles dir test, TWCTL test

Fix wrong group_vars/all conditional within playbooks/roles/voip.yml
  ansible/playbooks/roles/voip.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Add hub and cloud deployment and github release to the pipeline
  .gitlab-ci.yml
Due: none

Add color variables to the pipeline
  .gitlab-ci.yml
Due: none

Ensure assertions for galera bootstrap uses the same hosts
  ansible/playbooks/procedures/galera-bootstrap.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Ensure database / replication user / clustercheck user are created on the correct host
  ansible/roles/db/tasks/cluster.yml
  ansible/roles/db/tasks/main.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Adjust mariadb logrotate to be daily and keep 60 files
  ansible/roles/db/files/mariadb-log
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Adjust haproxy logrotate to keep 60 files
  ansible/roles/frontend/files/haproxy-log
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Adjust redis logrotate to be daily and keep 60 files
  ansible/roles/redis/files/redis-sentinel-log
  ansible/roles/redis/files/redis-server-log
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Adjust apache2 logrotate to keep 60 files
  ansible/roles/monitoring/files/apache2-log
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Adjust glusterfs logrotate to keep 60 files
  ansible/roles/storage/files/glusterfs-common-log
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Adjust vault logrotate to keep 60 files
  ansible/roles/vault/files/vault-log
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Adjust icinga log to keep 60 files
  ansible/roles/monitoring/files/icinga2-log
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Ensure files are created if logs are rotated
  ansible/roles/loghost/files/cluster-log
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Improve content of /etc/hosts
  ansible/roles/common/templates/hosts.j2
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Remove raw_exec from nomad configuration
  ansible/roles/nomad/templates/nomad.hcl.j2
  ansible/roles/voip/templates/voip.hcl.tmpl
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Loop over JVB Users within tw_prosodyctl and ensure prosody gets restarted at the end
  ansible/roles/management/files/twctl
  ansible/roles/voip/templates/tw_prosodyctl.j2
Due: Ensure ansible-lint docker image exists, Ensure shellcheck has correct version, Single server test, Cluster server test, Procedure test, Roles dir test, TWCTL test

Change to bridged network and expose ports
  ansible/roles/common/templates/hosts.j2
  ansible/roles/nomad/templates/nomad.hcl.j2
  ansible/roles/voip/tasks/single.yml
  ansible/roles/voip/tasks/voip_servers.yml
  ansible/roles/voip/templates/voip.hcl.tmpl
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Add missing double quotes for tw_prosodyctl call in twctl
  ansible/roles/management/files/twctl
Due: Ensure ansible-lint docker image exists, Ensure shellcheck has correct version, Single server test, Cluster server test, Procedure test, Roles dir test, TWCTL test

Ensure pipeline uses docker shellcheck and has a default config in place
  .gitlab-ci.yml
  .shellcheckrc
Due: none

Make AllowTcpForwarding optional
  ansible/group_vars/all.example
  ansible/playbooks/requirements.yml
  ansible/roles/security/tasks/sshd-hardening.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Fix trailing space in requirements.yml file
  ansible/playbooks/requirements.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Fix nomad client network configuration
  ansible/roles/nomad/templates/nomad.hcl.j2
  ansible/roles/voip/templates/voip.hcl.tmpl
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Add shadow and gshadow hardening
  ansible/roles/security/tasks/main.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

configure sudo to use pseudo tty
  ansible/roles/security/files/10-pty-console
  ansible/roles/security/tasks/main.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

configure sudo to use sudo log
  ansible/roles/security/files/10-log-file
  ansible/roles/security/tasks/main.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Update pipeline to run on merge request creation
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Ensure users must provide password for privilege escalation
  ansible/roles/monitoring/files/10-nagios-user
  ansible/roles/monitoring/tasks/main.yml
  ansible/roles/security/files/10-teamwire-user
  ansible/roles/security/files/sudoers
  ansible/roles/security/tasks/main.yml
  packer/debian.cfg
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Rework assets to stick to new fcm variable
  ansible/playbooks/requirements.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Remove gcm_api key from vault role
  ansible/roles/vault/defaults/main.yml
  ansible/roles/vault/tasks/bootstrap.yml
  ansible/roles/vault/tasks/gather_information.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Add new fcm variable to backend and worker in single environment
  ansible/roles/backend/tasks/single.yml
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Add new fcm variable to backend and worker in cluster environment
  ansible/roles/backend/tasks/cluster.yml
  ansible/roles/nomad/templates/teamwire.nomad.j2
Due: Ensure ansible-lint docker image exists, Single server test, Cluster server test, Procedure test, Roles dir test

Path conditions:
  Ensure ansible-lint docker image exists: any of: ansible/**/*
  Ensure golint docker image exists: any of: ansible/roles/go/files/ocspResponder.go, ansible/roles/go/files/archiving.go
  Ensure shellcheck has correct version: any of: packer/build-vmware.sh, packer/scripts/fix-network.sh, packer/scripts/shrink-image.sh, prepare-offline-installation.sh, packer/scripts/make-unique.sh, packer/scripts/vm-guest-tools.sh, ansible/roles/frontend/files/ocsp.sh, ansible/roles/db/files/backup_restore_db.sh, packer/scripts/prepare-offline-installation.sh, ansible/roles/management/files/twctl, ansible/roles/management/files/motd.sh
  Single server test: any of: ansible/**/*
  Cluster server test: any of: ansible/**/*
  Procedure test: any of: ansible/**/*
  Roles dir test: any of: ansible/**/*
  Packer Build vmware test: any of: packer/build-vmware.sh
  Packer network fix script test: any of: packer/scripts/fix-network.sh
  Packer shrink test: any of: packer/scripts/shrink-image.sh
  Packer offline image test: any of: prepare-offline-installation.sh
  Packer unique test: any of: packer/scripts/make-unique.sh
  Packer guest tools test: any of: packer/scripts/vm-guest-tools.sh
  OCSP wrapper test: any of: ansible/roles/frontend/files/ocsp.sh
  Backup / Restore test: any of: ansible/roles/db/files/backup_restore_db.sh
  Offline installation test: any of: packer/scripts/prepare-offline-installation.sh
  TWCTL test: any of: ansible/roles/management/files/twctl
  Login banner test: any of: ansible/roles/management/files/motd.sh
  OcspResonder test: any of: ansible/roles/go/files/ocspResponder.go
  Archiving test: any of: ansible/roles/go/files/archiving.go
